@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&display=swap');
@font-face {
    font-family: 'Marta';
    src: url('fonts/Marta_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --azul: #b0c2e3;
    --rosa: #facacc;
    --cor-titulo: #03387f;
    --fonte-padrao: 'Marta', arial, helvetica, sans-serif;
    --fonte-titulo: 'Great Vibes', 'cursive';
    --fonte-xv: 'Allura', 'cursive';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, li, a{
    text-decoration: none;
    color: black;
}

body{
    background-image: linear-gradient(90deg, #facacc, #b0c2e3);
    max-width: 800px;
    margin: auto;
}

h2{
    font-family: var(--fonte-padrao);
    font-weight: normal;
    font-size: 1.4em;
    text-align: center;
    color: var(--cor-titulo);
}
p{
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
}


/* header */

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding: 0px 20px;
}

.menu__links__list{
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu__links__list__itens{
    background-color: #3a4a63;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
}

.menu__links__list__itens a{
    color: var(--rosa);
    font-family: var(--fonte-padrao);
    padding: 7px;
}

.menu__links__list__itens a:hover{
    color: white;
}

/* main */

.content{
    margin: 0 auto;
    background-image: url('imagens/background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 100%;
    width: 100%;
}

.content__folder{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__folder img{
    width: 100%;
}


.content__chamada{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 0px;
}

.nome{
    font-family: var(--fonte-titulo);
    font-size: 6.5em;
    font-weight: 500;
    text-align: center;
    color: var(--cor-titulo);
    text-shadow: 5px 5px 6px #0000007e;

    position: relative;
    top: -113px;
    margin-bottom: -128px;
}
.content__chamada.XvAnos{
    font-family: var(--fonte-xv);
    font-weight: normal;
    font-size: 5em;
    color: var(--cor-titulo);
    margin: -15px 0px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
}
.content__chamada.data{
    text-align: center;
    font-family: var(--fonte-xv), cursive;
    font-size: 2em;
    font-weight: 500;
    color: var(--cor-titulo);
}

.content__interacao{
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.content__interacao img{
    padding: 7px;
    border-radius: 50%;
}

.content__interacao p{
    padding-bottom: 5px;
    font-family: var(--fonte-padrao);
    color: var(--cor-titulo);
}

/* footer */

.rodape{
    width: 100%;
    height: 137px;
    background-image: url('imagens/flor3.png');
    background-repeat: repeat-x;
}